body {
    background-color: black;
}

#scrollArea {
    background-color: rebeccapurple;
    height: 100%;
    width: 500px;
    margin: auto;
    overflow-y: clip;
    position: relative;
}

#contentContainer {
    width: 100%;
    position: absolute;
}

.content {
    font-family: sans-serif;
    font-size: 24;
    color: grey;
    text-shadow: 1px 1px black;
}